* {
    box-sizing: border-box;
    margin: 0;

}

*::before, *::after {
box-sizing: inherit;
}

body {
    font-family: sans-serif;
    font-size: 20px;
    color: black;
    line-height: 26px;
    background: #E5E5E5;
}
.container {
    max-width: 1024px;
    margin: 0 auto;
}
section {
    padding: 50px 0;
}

.title {
    font-size: 40px;
    position: relative;
    margin: 0 0 50px 0;



}

.title:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -10px;
    height: 2px;
    width: 60px;
    background-color: grey;

}


/* Header section start */

.header {

    background: rgba(0, 0, 0, 0.1);
    padding-bottom: 50px;

}
.header__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header__logo {
    font-family: sans-serif;
    font-size: 32px;
    line-height: 40px ;
    padding: 20px;
    font-weight: bold;
}
.header__logo_link {
    text-decoration: none;
    color: black;
}
.header__menu {
    margin-left: auto;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;

}
.menu__item {
    list-style: none;
    padding-left: 40px;
}
.menu__link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
}
.menu__link:hover {
    opacity: 0.7;
}

.header__content {
    margin: 80px 0;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;


}
.header__img {
    padding-left: 100px;
    height: 400px;
}
.header__info {
    margin-left: 50px;
}
.header__title {
    padding-left: 50px;
    font-size: 56px;
    font-weight: bold;
    line-height: 60px;
    padding-bottom: 50px;
}

/* Header section end */

/* Contacts section start */

.contacts {


}

.contacts__item {

}
.contact__type {
    font-weight: bold;

}
.contact__info {
    font-size: 18px;

}

.summary {
    background: rgba(0, 0, 0, 0.1);
    padding-bottom: 50px;
}


/* Contacts section end */
